
header {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: 10px;
}

nav a:hover {
    background-color: #61dafb;
    color: black;
}

footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn-add {
    background-color: #61dafb;
    color: black;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.list-content {
    text-align: center;
}

.list-item {
    width: 30%;
    border: 1px solid #282c34;
    margin-bottom: 6px;
    border-radius: 10px;
}