
header {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    cursor: pointer;
    color: white;
    padding: 10px;
}

nav a:hover {
    background-color: #61dafb;
    color: black;
}

footer {
    background-color: #282c34;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}